#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
 
.remote{
    background: red; 
    padding: 5px;
}

.local{
    background: rgb(0, 255, 0); 
    padding: 5px;
    width: 300px;
    position: absolute; 
}